@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  text-transform: uppercase;
  color: #000;
}

a:hover {
  text-decoration: none;
}

h1 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

ul.no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.no-list li {
  margin-left: 2em;
}

.social-wrapper {
  position: relative;
  margin-top: 4em;
}

.social-wrapper .social-icons {
  display: flex;
  justify-content: center;
}

.code-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 3em 0;
}

.download-wrapper {
  text-align: center;
}

